/*@font-face {
    font-family: 'Bazar-Medium';
    src: url('Fonts/Bazar2.ttf')format('truetype'),
    font-weight: normal;
    font-style: normal;

}*/
@font-face {
  font-family: 'Bazar-Medium';
  src: url('Fonts/Bazar2.ttf');
  src: local('Bazar-Medium'), local('Bazar-Medium'), url('Fonts/Bazar2.ttf') format('truetype');
}
/*homepage styling*/
#homepage {
     margin: 0;
     background-image: url('test_imgs/AdobeStock_100447996_WM.jpeg');
     background-size: cover;
     background-attachment: fixed;
     background-position: left top; 
     background-repeat:no-repeat;
     font-family: "Roboto Slab", sans-serif;
     color:#4c5057;
}

#homepage h1 {
  text-transform: uppercase;
  font: 18px/20px "Bazar-Medium", sans-serif;
  font-size: 500%;
  margin-top: 60px;
}

#homepage h3{
  text-transform: uppercase;
  font-size:150%;
  margin-top: 40px;
}

.retro-borders {
    text-shadow: 1px 2px #FCFAF7, 3px 4px #4c5057;
}


/*BasePage styling*/
#logo {
  font: 18px/20px "Bazar-Medium", sans-serif;
  color:white;
  text-transform: uppercase;
}

body {
  font-family: "Roboto Slab", sans-serif;
}
.overlay {
  background-image: url('images/grain.png')
}

.dark_link {
   color:#FCFAF7;
}
 h2 {
    text-transform: uppercase;
 }
 hr.divider {
    margin: 0;
    border-top: 1px dashed rgba(0,0,0,0.25);
    border-bottom: 1px dashed rgba(255,255,255,0.25);
    width: 100%;
    margin: 20px; 
}
/*user page styling*/

#user_page {
  background-color: #e3e0dd;
}

.snapshot {
  border: 4px solid #FCFAF7;
  background-color: #FCFAF7;
  border-radius: 3px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.3);
  padding: auto;
  margin:5%;
  width:260px;
}

.snapshot h3 {
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    color: #383A3C !important;
    text-align: center;
    position: relative;
    margin-bottom: 10px;
}

.user_message {
  border: 5px solid #FCFAF7;
  background-color: #FCFAF7;
  border-radius: 3px;
  max-width: 300px;
}

.user_message h2{
  text-transform: uppercase;
  color: #383A3C !important;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
}

#user_page span{
  font-weight: bold;
  text-transform: uppercase;
}

#message li{
  font-size: 13px;
  padding:2%;
  text-align: center;
}

.circle {
    position: relative;
    text-align: center;
    display: block;
    width: 44px;
    height: 44px;
    line-height: 2;
    margin: 0 auto;
    font-size: 24px;
    background-color: #383A3C;
    border-radius: 50%;
    transition: all 0.2s ease;
}

.envelope {
  color: #FCFAF7;
}

.new_group {
  margin: 0 0 10px 30px;
  
}
/*group form*/
#group_form {
  background-color: #4c5057;
}

#group_form_background {
  background-color: #FCFAF7;
  padding-bottom: 20px;
  margin-top: 10px;
  border-radius: 3px;
}

div.poll-setup {
        border-radius: 25px;
        border: 2px solid black;
        padding:15px;
        margin: 5px;
}

input.image_radio {
        vertical-align: top;
        /*padding:10px;*/
}

button.profile_submit  {
        vertical-align: bottom;
}

/*group page styling*/

#group_home {
  background-color: #e3e0dd;
}

.group_photo {
  border-top-width: 6px;
  border-right-width: 6px;
  border-bottom-width: 30px;
  border-left-width: 6px;
  border-style:solid;
  border-color:#FCFAF7;
  background-color: #FCFAF7;
  border-radius: 3px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.3);
  width:90%;
  /*margin:auto;*/
}

.group_photo img{
   margin-left:auto;
}

.section_divider{
  border:6px solid #FCFAF7;
  margin-top:10px;
  background-color: #FCFAF7;
  border-radius: 3px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.3);
  width:90%;
}


#comment_image {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.upload_label {
    font-size: 12px;
}

div.pop-up {
          display: none;
          position: absolute;
          width: 280px;
          border: 1px solid #1a1a1a;
          background-color: #ffffff;
        }

div.poll_div, div#final_vote_confirm {
          display: none;
}

#myChart{
width: 90%;
height: 300px;
}



div#twitter {
        height: 300px;
        overflow: auto;
        overflow-x:hidden;
}


.carousel {
    margin-top: 20px;
}
.item .thumb {
  width: 25%;
  cursor: pointer;
  float: left;
}
.item .thumb img {
  width: 100%;
  margin: 2px;
}
.item img {
  width: auto;
  height: 100%;  
}

#photo_height_fix {
 height:275px;
}

.clock {
position: relative !important;
padding-top: 0px;
margin-left: auto;
height:50px;
width: 800px;
/zoom: .6;/ 
transform: scale(.75);
-ms-transform: scale(.75); /* IE 9 /*/
-webkit-transform: scale(.75); /*/ Safari and Chrome /*/
-o-transform: scale(.75);/* / Opera /*/
-moz-transform: scale(.75); /*/ Firefox */
}

#message li{
  list-style-type: none;
  margin-left: -40px;
}


/*  Bootstrap Clearfix */

/*  Tablet  */
@media (min-width:767px){

  /* Column clear fix */
  .col-lg-1:nth-child(12n+1),
  .col-lg-2:nth-child(6n+1),
  .col-lg-3:nth-child(4n+1),
  .col-lg-4:nth-child(3n+1),
  .col-lg-6:nth-child(2n+1),
  .col-md-1:nth-child(12n+1),
  .col-md-2:nth-child(6n+1),
  .col-md-3:nth-child(4n+1),
  .col-md-4:nth-child(3n+1),
  .col-md-6:nth-child(2n+1){
    clear: none;
  }
  .col-sm-1:nth-child(12n+1),
  .col-sm-2:nth-child(6n+1),
  .col-sm-3:nth-child(4n+1),
  .col-sm-4:nth-child(3n+1),
  .col-sm-6:nth-child(2n+1){
    clear: left;
  }
}

/*  Medium Desktop  */
@media (min-width:992px){

  /* Column clear fix */
  .col-lg-1:nth-child(12n+1),
  .col-lg-2:nth-child(6n+1),
  .col-lg-3:nth-child(4n+1),
  .col-lg-4:nth-child(3n+1),
  .col-lg-6:nth-child(2n+1),
  .col-sm-1:nth-child(12n+1),
  .col-sm-2:nth-child(6n+1),
  .col-sm-3:nth-child(4n+1),
  .col-sm-4:nth-child(3n+1),
  .col-sm-6:nth-child(2n+1){
    clear: none;
  }
  .col-md-1:nth-child(12n+1),
  .col-md-2:nth-child(6n+1),
  .col-md-3:nth-child(4n+1),
  .col-md-4:nth-child(3n+1),
  .col-md-6:nth-child(2n+1){
    clear: left;
  }
}


/*  Large Desktop  */
@media (min-width:1200px){

  /* Column clear fix */
  .col-md-1:nth-child(12n+1),
  .col-md-2:nth-child(6n+1),
  .col-md-3:nth-child(4n+1),
  .col-md-4:nth-child(3n+1),
  .col-md-6:nth-child(2n+1),
  .col-sm-1:nth-child(12n+1),
  .col-sm-2:nth-child(6n+1),
  .col-sm-3:nth-child(4n+1),
  .col-sm-4:nth-child(3n+1),
  .col-sm-6:nth-child(2n+1){
    clear: none;
  }
  .col-lg-1:nth-child(12n+1),
  .col-lg-2:nth-child(6n+1),
  .col-lg-3:nth-child(4n+1),
  .col-lg-4:nth-child(3n+1),
  .col-lg-6:nth-child(2n+1){
    clear: left;
  }
}