/*@font-face {
    font-family: 'Bazar-Medium';
    src: url('Fonts/Bazar2.ttf')format('truetype'),
    font-weight: normal;
    font-style: normal;

}*/
@font-face {
  font-family: 'Bazar-Medium';
  src: url('Fonts/Bazar2.ttf');
  src: local('Bazar-Medium'), local('Bazar-Medium'), url('Fonts/Bazar2.ttf') format('truetype');
}
/*homepage styling*/
#homepage {
     margin: 0;
     /*background-image: url('test_imgs/AdobeStock_100447996_WM.jpeg');*/
     /*background-image: url('test_imgs/AdobeStock_79312754_WM.jpeg');*/
     background-image: url('images/homepage_scaled.jpg');
     background-size: cover;
     background-attachment: fixed;
     background-position: left top; 
     background-repeat:no-repeat;
     font-family: "Roboto Slab", sans-serif;
     color:#E0E0E0;
     /*min-height: 900px;*/
}


#homepage h1 {
  text-transform: uppercase;
  font: 18px/20px "Bazar-Medium", sans-serif;
  font-size: 500%;
  margin-top: 60px;
  font-weight: 700;
}

#homepage h3{
  text-transform: uppercase;
  font-size:150%;
  margin-top: 40px;
  color:#E0E0E0;
  letter-spacing: 1.5px;
}

#homepage a {
  color:#37474F;
}

#homepage h4 {
  letter-spacing: .5px;
}

.retro-borders {
    text-shadow: 1px 2px black, 3px 4px gray;
}


/*BasePage styling*/

.navbar-default {
    background-color: #FCFAF7;
}
.navbar {
  margin-bottom: 5px;
}

hr.divider{
    margin: 10px 0 10px 0;
    border-top: 1px dashed rgba(0,0,0,0.25);
    border-bottom: 1px dashed rgba(255,255,255,0.25);
    width: 100%;
}
#logo {
  font: 18px/20px "Bazar-Medium", sans-serif;
  color:#383A3C;
  text-transform: uppercase;
  font-size: 300%;
  text-decoration: none;
}

.logo_link {
  text-decoration: none !important;
}

body {
  font-family: "Roboto Slab", sans-serif;
}
.overlay {
  background-image: url('images/grain.png')
}

h2 {
    text-transform: uppercase;
 }

h3.sidebar_header {
  text-transform: uppercase;
  color: #383A3C !important;
  text-align: center;
  font-size: 18px;
  font-weight: 700;
}

h3.section_header {
  text-transform: uppercase;
  color: #383A3C !important;
  font-size: 20px;
  font-weight: 700;
}
 
.modal-body{
  background-color: #e3e0dd;
}

.modal-header{
  background-color: #FCFAF7;
}
.flash_msg li{
  text-decoration: none;
  background-color: white;
}

.form_body {
  background-color: #e3e0dd;
}

.form_background {
  background-color: #FCFAF7;
  padding-bottom: 20px;
  margin-top: 10px;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
}
/*sign up form*/
#sign_up_image input {
  outline: none;
  box-shadow:none !important;
  border:1px solid #ccc !important;
}

/*user page styling*/

#user_page {
  background-color: #e3e0dd;
}

.snapshot {
  border: 4px solid #FCFAF7;
  background-color: #FCFAF7;
  border-radius: 3px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.3);
  padding: auto;
  margin:5%;
  width:260px;
}

.user_snapshot {
  border: 4px solid #FCFAF7;
  background-color: #FCFAF7;
  border-radius: 3px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.3);
  padding: auto;
  margin:5%;
  width:50%;
}
.snapshot h3 {
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    color: #383A3C !important;
    text-align: center;
    position: relative;
    margin-bottom: 10px;
}

.user_message {
  border: 5px solid #FCFAF7;
  background-color: #FCFAF7;
  border-radius: 3px;
  max-width: 300px;
}


#user_page span{
  font-weight: bold;
  text-transform: uppercase;
}

#logo span {
  font-size: 125%;
  font-weight: normal;
}

#message li{
  font-size: 13px;
  padding:2%;
  text-align: center;
}

.circle {
    position: relative;
    text-align: center;
    display: block;
    width: 44px;
    height: 44px;
    line-height: 2;
    margin: 0 auto;
    font-size: 24px;
    background-color: #383A3C;
    border-radius: 50%;
}

.icon {
  color: #FCFAF7;
}

.inline_icon {
    font-size: 24px;
    color:  #383A3C;
    line-height: 2;
}
.inline_circle {
    /*position: relative;*/
    text-align: center;
    display: inline-block;
    width: 44px;
    height: 44px;
    line-height: 2;
    /*margin: 0 auto;*/
    font-size: 24px;
    background-color: #383A3C;
    border-radius: 50%;
}

.new_group {
  margin: 0 0 10px 30px;
  
}
/*group form*/

div.poll-setup {
        /*border-radius: 4px;*/
        border: 2px solid black;
        padding:15px;
        margin: 5px;
        background-color: #f5f5f5;
        /*border: 1px solid #e3e3e3;*/
        border-radius: 4px;
}
.poll-setup h4 {
        text-transform: uppercase;
        font-weight: 700;
}

input.image_radio {
        vertical-align: top;
        /*padding:10px;*/
}

button.profile_submit  {
        vertical-align: bottom;
}



/*group page styling*/

#group_home {
  background-color: #e3e0dd;
}

.group_photo {
  border: 6px;
  border-style:solid;
  border-color:#FCFAF7;
  background-color: #FCFAF7;
  border-radius: 3px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.3);
  width:100%;
  /*margin:auto;*/
}

.group_photo img{
   margin-left:auto;
}

#group_home h4 {
  display: inline;
  margin: 0 8% 15% 0;
}

.section_divider{
  border:6px solid #FCFAF7;
  margin-top:10px;
  background-color: #FCFAF7;
  border-radius: 3px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.3);
  width:100%;
}

.inline_links {
  display: inline-block;
  margin-right: 40px;
}
.inline_hr {
  margin-bottom: 1px;
  margin-top: 1px;
}


/*Pattern poll options*/
.pattern_well {
  height:160px;
}

.poll_circle {
    text-align: center;
    display: inline-block;
    width: 30px;
    height: 30px;
    line-height: 2;
    font-size: 16px;
    background-color: #383A3C;
    border-radius: 50%;
    margin-top: 2%;
}

.pattern_title {
    height:40px;
}

.pattern_title h4 {
  text-transform: uppercase;
}

.pattern_input{
  bottom: 20px;
  position: absolute;
}


/*comment form on group page*/
#comment_image, #upload_file {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}
#upload_file {
  margin-top: -20px;
}
.upload_label {
    font-size: 12px;
}
.comments {
  width:100%;
}
.comments h4{
  display:inline;
}

.comment_image {
  margin: auto;
  max-width: 100%;
}


/*group users pop up windows*/
.show_user p{
  margin-left:10px;
}
 
.show_user img{
  margin-left: 25px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.3); 
}

div.pop-up {
          display: none;
          position: absolute;
          width: 200px;
          border: 1px solid #383A3C;
          background-color: #e3e0dd;
          border-radius: 5px;
          padding: 5px;
        }

.invite_cancel {
        cursor: pointer;
        margin-left: 10px;
        font-size: 15px;
}

/*pattern poll*/
div.poll_div, div#final_vote_confirm {
        display: none;
}

#myChart{
        width: 90%;
        height: 300px;
}

/*twitter feed on group page*/
div#twitter {
        height: 300px;
        overflow: auto;
        overflow-x:hidden;
        background-color: #f5f5f5;
        border: 1px solid #e3e3e3;
        border-radius: 4px;
}

.twitter_icon {
  max-width: 70%;
  color: #FCFAF7;
  margin:auto;
}
/*group page carousel photo gallery*/
.carousel {
    margin-top: 20px;
}
.item .thumb {
  width: 24%;
  cursor: pointer;
  float: right;
}

.item .thumb img {
    width: 80%;
    margin: 0;
}
.item img {
  width: auto;
  height: 100%; 
  padding:0;
}

#photo_height_fix {
 min-height:250px;
}

.carousel-inner>.item>a>img, .carousel-inner>.item>img, .img-responsive, .thumbnail a>img, .thumbnail>img {
    display: block;
    max-width: 90%;
    height: auto;
    margin: auto;
}
.gallery {
    min-height: 300px; 
}
/*resize of flipclock*/
.clock {
position: relative !important;
padding-top: 0px;
margin-left: 5%;
height:50px;
width: 700px;
/zoom: .6;/ 
transform: scale(.75);
-ms-transform: scale(.75); /* IE 9 /*/
-webkit-transform: scale(.75); /*/ Safari and Chrome /*/
-o-transform: scale(.75);/* / Opera /*/
-moz-transform: scale(.75); /*/ Firefox */
}


#message li{
  list-style-type: none;
  margin-left: -40px;
}


/*  Bootstrap Clearfix */

/*  Tablet  */
@media (min-width:767px){

  /* Column clear fix */
  .col-lg-1:nth-child(12n+1),
  .col-lg-2:nth-child(6n+1),
  .col-lg-3:nth-child(4n+1),
  .col-lg-4:nth-child(3n+1),
  .col-lg-6:nth-child(2n+1),
  .col-md-1:nth-child(12n+1),
  .col-md-2:nth-child(6n+1),
  .col-md-3:nth-child(4n+1),
  .col-md-4:nth-child(3n+1),
  .col-md-6:nth-child(2n+1){
    clear: none;
  }
  .col-sm-1:nth-child(12n+1),
  .col-sm-2:nth-child(6n+1),
  .col-sm-3:nth-child(4n+1),
  .col-sm-4:nth-child(3n+1),
  .col-sm-6:nth-child(2n+1){
    clear: left;
  }
}

/*  Medium Desktop  */
@media (min-width:992px){

  /* Column clear fix */
  .col-lg-1:nth-child(12n+1),
  .col-lg-2:nth-child(6n+1),
  .col-lg-3:nth-child(4n+1),
  .col-lg-4:nth-child(3n+1),
  .col-lg-6:nth-child(2n+1),
  .col-sm-1:nth-child(12n+1),
  .col-sm-2:nth-child(6n+1),
  .col-sm-3:nth-child(4n+1),
  .col-sm-4:nth-child(3n+1),
  .col-sm-6:nth-child(2n+1){
    clear: none;
  }
  .col-md-1:nth-child(12n+1),
  .col-md-2:nth-child(6n+1),
  .col-md-3:nth-child(4n+1),
  .col-md-4:nth-child(3n+1),
  .col-md-6:nth-child(2n+1){
    clear: left;
  }
}


/*  Large Desktop  */
@media (min-width:1200px){

  /* Column clear fix */
  .col-md-1:nth-child(12n+1),
  .col-md-2:nth-child(6n+1),
  .col-md-3:nth-child(4n+1),
  .col-md-4:nth-child(3n+1),
  .col-md-6:nth-child(2n+1),
  .col-sm-1:nth-child(12n+1),
  .col-sm-2:nth-child(6n+1),
  .col-sm-3:nth-child(4n+1),
  .col-sm-4:nth-child(3n+1),
  .col-sm-6:nth-child(2n+1){
    clear: none;
  }
  .col-lg-1:nth-child(12n+1),
  .col-lg-2:nth-child(6n+1),
  .col-lg-3:nth-child(4n+1),
  .col-lg-4:nth-child(3n+1),
  .col-lg-6:nth-child(2n+1){
    clear: left;
  }
}