<!doctype html>
<html>
  <head>
    <title>MakeAlong - Bringing the World Together, One Project at a Time</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    
    <link href="../static/flipclock.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:300,400,700' rel='stylesheet' type='text/css'>
    <link href="/static/main.css" rel="stylesheet">

    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-53248437-4', 'auto');
      ga('send', 'pageview');

    </script>
  </head>
  {% block body %}
    
  {% endblock %}
  <nav class="navbar navbar-default navbar-static-top overlay">
    <hr class="divider">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        </button>
        <a class="logo_link" href="/">
          <h1 id="logo"><span>M</span>ake<span>A</span>long</h1>
        </a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <a href="/log_out"><button id="logout" type="button" class="btn btn-default navbar-btn navbar-right">Log Out</button></a>
      </div>
    </div>
    <hr class="divider">
  </nav>

  <div class = "container">
    <ul class="list-unstyled">
      {% for message in get_flashed_messages() %}
        <li style="color:green">{{ message }}</li>
      {% endfor %}
    </ul>

    {% block content %}
      <!-- content goes here  -->
    {% endblock %}
</div>
    <footer id="footer" class="footer overlay">

      <div class="container">
        <div class="row">
          <div class="col-xs-9 col-sm-6 col-md-10">
            <p> <h4>MakeAlong</h4> is Leilani Taziri's Hackbright Academy Project<br>
            More information on the project can be found on 
            <a href="https://github.com/ltaziri/Hackbright-FinalProject" target="blank">GitHub</a><br>
            </p>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-2">
            <p>Connect with Leilani 
              <a href="https://www.linkedin.com/in/leilanitaziri" target="blank">
                <img src="../static/images/LinkedinFooter.png">
              </a>  
              <a href="https://twitter.com/leilani_taziri" target="blank">
                <img src="../static/images/TwitterFooter.png">
              </a>
            </p>
          </div>
        </div>
      </div>

    </footer>
  <!-- </div> -->
  </body>
</html>