<!doctype html>
<html>
<head>
  <title>Virtual Craft Group HB Project</title>
  <style>

  div.pop-up {
              display: none;
              position: absolute;
              width: 280px;
              border: 1px solid #1a1a1a;
              background-color: #ffffff;
            }

  div#poll_div {
              display: none;
              background-color: #cbc9c9;
  }

  #myChart{
  width: 800px;
  }
  </style>
  <script src="http://code.jquery.com/jquery.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.js"></script>
</head>

<body>
  <nav>
  <a href="/">Home</a><br>

  <a href="/log_out">Log Out</a>
  {% block content %} put your content here {% endblock %}
  </nav>
<hr>
  <ul>
    {% for message in get_flashed_messages() %}
        <li>{{ message }}</li>
    {% endfor %}
  </ul> 
<script src="http://code.jquery.com/jquery.js"></script>
</body>
</html>