{% extends 'base.html' %}
{% block content %}

<section>
    <h2>Welcome to the {{ group.group_name}}</h2>

    {% if group.group_image %}
        <img src= "/{{ group.group_image }}" width="500">
    {% endif %} 
    

    {% if group.group_descrip %}
        <p>{{ group.group_descrip }}</p>
    {% endif %}
    <br> 
    <a href="/group_profile_form/{{ group.group_id }}">Update the group information</a>
</section>
<hr>
<section>
    <h3> This month we are working on {{ group.pattern_name }}</h3>

    <p>
    {% if group.pattern_pdf %}
      Click<a href="/{{ group.pattern_pdf}}" target="blank"> here </a> to download the pattern.<br> 
    {% endif %}
    {% if group.pattern_link %}
      Click <a href="{{ group.pattern_link }}" target="blank">here</a> to go to the pattern source.
    {% endif %}
    </p>
</section>
<hr>
<section>
    <div>
    <h3> Comments:</h3>
   
        <form id="comment_form" action="/comment_add.json" method="POST" enctype="multipart/form-data">
            Add a comment:
            <input type="hidden" name="group_id" id="group_id" value="{{group.group_id}}">
            <br>
            <input type="text" name="comment_text" id="comment_text" placeholder="comment">
            &nbsp;Add a picture! <input type="file" id="comment_image" name="comment_image"><br>
            
            <button class="btn btn-primary" type="submit">Add your comment</button>
        </form>
        <br>
    </div>

    <div id="new_comment"></div>

    {% for comment in comments|sort(attribute="comment_id", reverse = True) %}
    <div>
        <img src="/{{ comment.user.user_photo }}" width="50">
        <b>{{ comment.user.first_name }}</b><br>
        <i>{{ comment.comment_timestamp.strftime("%m/%d/%y %X") }}</i><br>
        {{ comment.comment_text }} <br>
        {% if comment.comment_image %}
          <img src="/{{ comment.comment_image }}" width="300">
        {% endif %}       
    </div>
    {% endfor %}


<script>
"use strict";


// $(function() {
//   $("#comment_form").click(function(event){
  
//   event.preventDefault();
  
//   var formData = new FormData($('#comment_form')[0]);
  
//   $.ajax({
//     url: '/comment_add.json',
//     type: 'POST',
//     data: formData,
//     async: false,
//     cache: false,
//     contentType: false,
//     processData: false,
//     success: showComment,
//     });
//   });
// });


$("#comment_form").submit(function(event){
  
  event.preventDefault();
  
  var formData = new FormData($('form#comment_form')[0]);
  
  $.ajax({
    url: '/comment_add.json',
    type: 'POST',
    data: formData,
    async: false,
    cache: false,
    contentType: false,
    processData: false,
    success: showComment,
    });
  });


  function showComment(results) {
  console.dir(results);
  var htmlStr = "";
  htmlStr += "<img src='/" + results.comment_user_photo + "' width='50'>";
  htmlStr += "<b>"+ results.comment_user_name + "</b><br>"
  htmlStr += "<i>" + results.comment_timestamp + "</i><br>"
  htmlStr += results.comment_text + "<br>"
  if(results.comment_image) {
    htmlStr += "<img src='/" + results.comment_image + "' width='300'><br>";
  }

  $("#new_comment").prepend(htmlStr);
  $("#comment_text").val('');
  $("#comment_image").val('');
}

    // var formInputs;

    // var commentImgExist = $('#comment_image').val().length;

    // if(commentImgExist < 1) {
    //     formInputs = {
    //     "group_id":$("#group_id").val(),
    //     "comment_text": $("#comment_text").val(),
    //     };
    // }
    // else {
    //     formInputs = {
    //         "group_id":$("#group_id").val(),
    //         "comment_text": $("#comment_text").val(),
    //         "comment_image": $("#comment_image").val()
    //     };    
//     // }
//     console.log(formData);
//     $.post("/comment_add.json",formData, showComment);
// }

// $("#comment_form").on('submit', addNewComment);


</script>



</section>
<hr>
<section>
    <h3>Users in this group are:</h3>
    
      {% for group_user in group_users %}
          
          
          <div class="pop-up">       
            <h2>{{ group_user.first_name }} {{ group_user.last_name }}</h2>
            <img src="/{{ group_user.user_photo }}" width="200">
            <p> {{ group_user.user_descrip }}</p>
            <button>close</button>
          </div>

          <button class="show_user">{{ group_user.first_name }} {{ group_user.last_name }}</button>
      {% endfor %}

    <h3><a href ="/invite_form/{{ group.group_id }}"> Invite people to join your group! </a></h3><br>
</section>

<script>
      function showUserInfo(evt) {
          var mouseX = evt.pageX;
          var mouseY = evt.pageY;
          $(this).prev('div.pop-up').show()
          .css('left', mouseX)
          .css('top', mouseY);
          console.log($('.show_user').prev())
      }

      function hideUserInfo(evt) {
            $('div.pop-up').hide();
      }

      $(document).ready(function(){
          $('.show_user').click(showUserInfo);
          $('.pop-up').click(hideUserInfo);
      });

            
</script>
<hr>
<a href ="/users/{{user}}" target="_blank"> Return to user homepage </a>



{% endblock %}