{% extends 'base.html' %}
{% block content %}

<h2>Create a Group!</h2>

<form action="/create_group" id="new_group_form" enctype="multipart/form-data" method="POST">
    Group Name:</br>
    <input type="text" name="group_name" placeholder="group name"><br>
    <br>
    Group Description (optional):<br>
    <input type="text" name="group_descrip" placeholder="group description"><br>
    <br>
    <h3> What Pattern Will Your Group be Working on?</h3>
        <div id="base_pattern">
            Pattern Name (optional):<br>
            <input type="text" name="pattern_name" id="pattern_name" placeholder="pattern name"><br>
            <br>
            Upload a PDF Pattern (optional): <br>
            <input type="file" name="pattern_pdf" id="pattern_pdf" class="pattern_pdf"><br>
            <br>
            Link to Pattern(optional):<br>
            <input type="url" name="pattern_link" id="pattern_link" placeholder="link to pattern"><br>
            <br>
        </div>    
        Have some options and want the group to help you decide? We can create poll for you and your friends can help you decide!
        <br>
        Create a poll <input type="checkbox" id = "pattern_poll" name="pattern_poll" value="pattern_poll">
        <br>
        <br>
        <div id="poll_div">
            <div>
                <b>Option 1</b></br>
                First Pattern's Name:<br>
                <input type="text" name="pattern_name_a" placeholder="pattern name"><br>
                <br>
                Upload a PDF Pattern(optional): <br>
                <input type="file" name="pattern_pdf_a" class="pattern_pdf"><br>
                <br>
                Link to Pattern(optional):<br>
                <input type="url" name="pattern_link_a" placeholder="link to pattern"><br>
                <br>
            </div>
            <div>
                <b>Option 2</b></br>
                Second Pattern's Name:<br>
                <input type="text" name="pattern_name_b" placeholder="pattern name"><br>
                <br>
                Upload a PDF Pattern(optional): <br>
                <input type="file" name="pattern_pdf_b" class="pattern_pdf"><br>
                <br>
                Link to Pattern(optional):<br>
                <input type="url" name="pattern_link_b" placeholder="link to pattern"><br>
                <br>
            </div>
            <div>
                <b>Option 3</b></br>
                Third Pattern's Name:<br>
                <input type="text" name="pattern_name_c" placeholder="pattern name"><br>
                <br>
                Upload a PDF Pattern(optional): <br>
                <input type="file" name="pattern_pdf_c" class="pattern_pdf"><br>
                <br>
                Link to Pattern(optional):<br>
                <input type="url" name="pattern_link_c" placeholder="link to pattern"><br>
                <br>
            </div>
        </div>    
    <h3>Select an image for your group or upload your own:</h3>
    <input type='radio' name="group_image" value="static/images/knitting_group_default.jpg">
    <img src="static/images/knitting_group_default.jpg" width="200">

    <input type='radio' name="group_image" value="static/images/sewing_group_default.jpg">
    <img src="static/images/sewing_group_default.jpg" width="200">

    <input type='radio' name="group_image" value="static/images/craft_group_default.jpg">
    <img src="static/images/craft_group_default.jpg" width="200">

    <input type='radio' name="group_image" value=" " id="group_radio">

    <input id="group_img_upload" type="file" name="photo"><br>
    <br>
    
    <input type="submit" value="Create Your Group">
</form>

<script>

$('#new_group_form').on('submit', function(evt){
    var validatePDF= $('.pattern_pdf').val().length;
    if(validatePDF < 1) {
        $('input.pattern_pdf').remove();
    }
});


$("#group_img_upload").click(function(){
    $("#group_radio").prop("checked", true);
});

function showPoll(evt) {
            $('div#poll_div').show();
      }

function hidePoll(evt) {
            $('div#poll_div').hide();
      }

$(document).ready(function(){
          $('#pattern_poll').click( function() {
            if($('#pattern_poll').is(":checked")){
                $('div#poll_div').show(800);
                $("div#base_pattern").hide(800);
            } else {
                $('div#poll_div').hide(800);
                $("div#base_pattern").show(800);
            }
          });
      });      

</script>
{% endblock %}