{% extends 'base.html' %}
{% block content %}

<a href="/user"> <span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span> Return to your homepage</a>
<div class = "row">
<section class = "col-xs-12">
  <div class = "row">
    <div class = "col-xs-12 col-sm-12 col-md-9">
      <h2>Welcome to {{ group.group_name}}</h2>
      
      <section>   
          {% if group.group_descrip %}
            <p data-linkify="this">{{ group.group_descrip }}</p>
          {% endif %}
          {% if user == group.admin_id %}
            <a href="/group_profile_form/{{ group.group_id }}">Update the group information</a>
          {% endif %}
                
      </section>
    
      {% if patterns|length > 1 %}
       
        <section>
          <div class="clock" ></div><br>
           <div class = "row">
              <div class="col-xs-12 col-md-9 col-md-offset-3">
              <h4> Days left to vote on a pattern </h4>
              </div>
           </div>
        </section>
      {% endif %}
    
      {% if patterns|length == 0 %}
        <section>
            <p>
              {% if group.group_image %}
                <img src= "/{{ group.group_image }}" width="80%">
              {% endif %} 
            </p>  
        </section>
      {% endif %}

     
        {% if patterns|length > 1 %}
        <section>
            <div id = "myChart" class = "pattern_poll">
              <canvas id = "pattern_bar_graph"></canvas>
            <div id = "barLegend" class="chart-legend"></div>
        </section>
        {% endif %}
      
      <hr>
      {% if patterns|length == 1 %}
        <section>
            <img src= "/{{ group.group_image }}" width="80%">
            <h3> This month we are working on {{ patterns[0].pattern_name }}</h3>
            <p>
              {% if patterns[0].pattern_pdf %}
                Click<a href="/{{ patterns[0].pattern_pdf }}" target="blank"> here </a> to download the pattern.<br> 
              {% endif %}
              {% if patterns[0].pattern_link %}
                Click <a href="{{ patterns[0].pattern_link }}" target="blank">here</a> to go to the pattern source.
              {% endif %} 
            </p>  
        </section>
      {% endif %}   

      {% if patterns|length > 1 %}
        <div class ="row">
          
        </div>
        <div id="final_vote_confirm">
          <div class="message"></div>
          <div class="votes_complete"> </div>
            <form id= "final_vote_form" action = "/final_vote/{{ group.group_id }}" method="POST">
            {% for pattern in patterns %}
              <label>{{ pattern.pattern_name}}</label>
              <button name="final_vote_submit" type="submit" value ="{{ pattern.pattern_id }}">Select</button>
            {% endfor %}
            </form>
        </div>
        <section style = "margin-left: 5%">
            <h3>Your vote counts!</h3>
            <p> Here are the choices for the group's pattern.</p>
            <div class = "row">
              <form id ="vote_form" action="/poll.json/{{group.group_id}}" method="POST" style= "margin-bottom:20px">
                  {% for pattern in patterns %}
                    <div class ="col-xs-12 col-sm-12 col-md-4">
                      <b> {{ pattern.pattern_name }} </b>
                      <br>
                      {% if pattern.pattern_pdf %}
                        Click<a href="/{{ pattern.pattern_pdf }}" target="blank"> here </a> to get the pdf pattern.<br> 
                      {% endif %}
                      {% if pattern.pattern_link %}
                        Click <a href="{{ pattern.pattern_link }}" target="blank">here</a> to go to the pattern source.<br>
                      {% endif %}
                      <input type="radio" class ="pattern_select" name="pattern_select" value="{{ pattern.pattern_id }}">
                    </div>
                  {% endfor %}
                  <div class = "row">
                  <div class = "col-xs-12 col-md-12">
                  <input type="hidden" name="group_id" id="pattern_group" value="{{group.group_id}}"><br>
                  <button class="btn btn-default" id="vote_submit" type="submit">Vote!</button>
                </div>
                </div>
              </form>
            </div>
        </section>
      {% endif %}
      <div class ="row">
        <section class = "col-lg-10 col-lg-offset-1">
            <div>
            <h3> Comments:</h3>
           
                <form id="comment_form" action="/comment_add.json" method="POST" enctype="multipart/form-data">
                    Add a comment:
                    <input type="hidden" name="group_id" id="group_id" value="{{group.group_id}}">
                    <br>
                    <input type="text" name="comment_text" id="comment_text" placeholder="comment">
                    <br>Add a picture! <input type="file" id="comment_image" name="comment_image"><br>
                    
                    <button id="comment_submit" type="submit">Add your comment</button>
                </form>
                <br>
            </div>

            <div id="new_comment"></div>

            {% for comment in comments|sort(attribute="comment_id", reverse = True) %}
            <div>
                <img src="/{{ comment.user.user_photo }}" width="50">
                <b>{{ comment.user.first_name }}</b><br>
                <i>{{ comment.comment_timestamp.strftime("%m/%d/%y %X") }}</i><br>
                    <div class="comment_text" data-linkify="this">{{ comment.comment_text }}</div>
                    {% if comment.comment_image %}
                    <img src="/{{ comment.comment_image }}" width="300"><br>
                    {% endif %}
                    {% if comment.youtube_id %}
                    <iframe width="300" height="300" src="http://www.youtube.com/embed/{{ comment.youtube_id }}?autoplay=0">
                    </iframe><br>
                    
                    {% endif %}     
            </div>
            {% endfor %}
        </section>
      </div>
    </div>
    <div class = "col-xs-12 col-sm-12 col-md-3">
      <section>
              <h3>Users in this group are:</h3>
                <div class = "row">
                {% for group_user in group_users %}
                  <div class = "col-xs-6">          
                    <div class="pop-up">       
                      <h2>{{ group_user.first_name }} {{ group_user.last_name }}</h2>
                      <img src="/{{ group_user.user_photo }}" width="200">
                      <p data-linkify="this"> {{ group_user.user_descrip }}</p>
                      <button>close</button>
                    </div>
                    <div class = "show_user">
                    <img src="/{{ group_user.user_photo }}" width="50" class="img-circle" height="50">
                    <p> {{ group_user.first_name }} {{ group_user.last_name }}</p>
                    </div>
                  </div>  
                {% endfor %}
                <div class = "row">
                  <div class = "col-xs-12">
                    <h4><a href ="/invite_form/{{ group.group_id }}"> Invite people to join your group! </a></h4>
                  </div>
                </div>
      </section>
      <section>
          <h3>Latest tweets:</h3>
          <p>{{ group.hashtag}}</p>
          <div id="twitter" data-linkify="this"></div>
      </section>
      <section >
        
        <h3>Photo gallery:</h3>
        {% if comment_pics|length > 1 %}
        <div class="row">
            <div id="photo_height_fix">
              <div id="carousel" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="item active">
                        <img src="/{{ comment_pics[0] }}">
                    </div>
                    {% for pic in comment_pics[1:] %}
                    <div class="item">
                        <img src="/{{ pic }}">
                    </div>
                    {% endfor %}
                </div>
              </div>
            </div> 
            <div class="clearfix">
            <div id="thumbcarousel" class="carousel slide" data-interval="false">
              <div class="carousel-inner">
                  <div class="item active">
                      
                      {% if comment_pics|length < 4 %}
                          
                          {% for pic in comment_pics %}
                          <div data-target="#carousel" data-slide-to="{{ loop.index0 }}" class="thumb"><img src="/{{ pic }}"></div>
                          
                          {% endfor %}
                      {% endif %}
                      {% if comment_pics|length >= 4 %}
                          
                          {% for pic in comment_pics[:4] %}
                          <div data-target="#carousel" data-slide-to="{{ loop.index0 }}" class="thumb"><img src="/{{ pic }}"></div>
                          
                          {% endfor %}
                      {% endif %}
                  </div><!-- /item -->
                  {% if comment_pics|length > 4 %}
                  <div class="item" style="vertical-align:middle">
                          {% for pic in comment_pics[4:] %}
                              <div data-target="#carousel" data-slide-to="{{ loop.index0 + 4}}" class="thumb"><img src="/{{ pic }}">
                              </div>
                          {% endfor %}
                  </div><!-- /item -->
                   {% endif %}
              </div><!-- /carousel-inner -->
                {% if comment_pics|length > 4 %}
                <a class="left carousel-control" href="#thumbcarousel" role="button" data-slide="prev">
                  <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
                <a class="right carousel-control" href="#thumbcarousel" role="button" data-slide="next">
                  <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
                {% endif %}
            </div> <!-- /thumbcarousel -->
          </div><!-- /clearfix -->
      </div>
      {% endif %} <!-- /row -->
      </section>
    </div>


{% block javascript %}
<script src="../static/flipclock.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.js"></script>
<script type="text/javascript">
var patternPoll
var voteConfirmation = "<h4 class='text-success' style='margin-left:15px;' >Thanks for voting! Your vote has been recorded</h4>"

$(document).ready(function(){
   $.get('/group_twitter.json/{{ group.group_id }}', function(results) {
        var keys = Object.keys(results);
        for(var i=0;i<keys.length;i++) {
            var twitter_div = "";
            twitter_div += "<b>"+ results[keys[i]].screen_name + "</b><br>";
            twitter_div += "<img src='" + results[keys[i]].user_profile_pic + "' width='50'>";
            twitter_div += "<p><i>" + results[keys[i]].text + "</i></p><br>";
            if(results[keys[i]].image_url) {
            twitter_div += "<img src='" + results[keys[i]].image_url + "' width='300'><br>";
            }
        $("#twitter").append(twitter_div);
        }
    })
  
  var options = { 
                responsive: true, 
                scaleShowGridLines : false,
                maintainAspectRatio: false,
                barValueSpacing : 50,
                scaleFontSize: 10,
                };
  var ctx_bar = $("#pattern_bar_graph").get(0).getContext("2d");

  $.get('/poll.json/{{ group.group_id }}', function(data) {
    console.log(data);
    patternPoll = new Chart(ctx_bar).Bar(data, options);
  });
  
  $.get('/flip_clock.json/{{ group.group_id}}', function(data) {
  seconds_left = data.seconds;
  
  var clock;
  
  clock = $('.clock').FlipClock({
        clockFace: 'DailyCounter',
        autoStart: false,
        callbacks: {
          stop: function() {
            $('.message').html('<h3> Voting has now ended. Please confirm the winning pattern. </h3>');
          }
        }
    });
    if (seconds_left > 1) {
      clock.setTime(seconds_left);
      if({{ votes }}.length=== {{ num_group_users }}) {
        if ({{ user }} == {{ group.admin_id }}) {
          $('#final_vote_confirm').show();
          $('.votes_complete').html('<h3> Everyone in your group has voted. Please confirm the winning pattern. </h3>')
       }
    }
    } else {
      clock.setTime(0);
      if ({{ user }} == {{ group.admin_id }}) {
        $('#final_vote_confirm').show();
      }
    }
    clock.setCountdown(true);
    clock.start();
    });

for(var i=0;i<{{votes}}.length;i++) {
    if({{ votes }}[i]==={{ user }} ){
      $('.pattern_select').hide();
      $( voteConfirmation ).insertAfter("#vote_form");
      $('#vote_submit').hide();
  }}

})

function handleVote(evt) {
  evt.preventDefault();

  var formInputs = {
    "group_id": $('#pattern_group').val(),
    "pattern_id":$('input[name=pattern_select]:checked', '#vote_form').val()
  };

  $.post('/update_poll.json', formInputs, function(data) {
    var dataLabels = patternPoll.datasets[0].bars;
    

    for (var i = 0; i < dataLabels.length; i++) {
      if (data.label === dataLabels[i].label) {
        patternPoll.datasets[0].bars[i].value = data.data; 
        patternPoll.update();
        } 
      }
    $('.pattern_select').hide();
    $( voteConfirmation ).insertAfter("#vote_form");
    $('#vote_submit').hide();
    if ({{ user }} == {{ group.admin_id }}) {
          $('#final_vote_confirm').show();
          $('.votes_complete').html('<h3> Everyone in your group has voted. Please confirm the winning pattern. </h3>')

       }
  })
}
$('#vote_form').on('submit', handleVote)

</script>

{% endblock %}
<script src="../static/group_page.js"></script>



{% endblock %}