<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
  
  <title>Virtual Craft Group HB Project</title>
</head>

<body>
<div class = "container">  

    <h1>MakeAround</h1>

    <h2>Bringing the world together, one project at a time</h2>
    <div class="row">
      <div class = "col-xs-12 col-sm-12 col-lg-3">
        <h3> Sign in </h3>
        <form action="/sign_in" method="POST">
            <div class ="form-group"> 
              <input class="form-control" type="email" name="email" placeholder="email"><br>
              <input class="form-control" type="password" name="password" placeholder="password"><br>
              <input type="submit" value="login">
            </div>
        </form>
        <p>Don't Have an Account? <a href="/sign_up_form">Sign Up Today!</a></p>
      </div>
    </div>
</div>
</body>
</html>