{% extends 'base.html' %}
{% block content %}

<h2>Invite people to join {{ group.group_name }} </h2>

<form action="/send_invite/{{ group.group_id }}" method="POST">

    <h3>Your friend's email:</h3>
    <input type="text" name="email" placeholder="email">
    <h3>Friend's name:</h3>
    <input type="text" name="name" placeholder="name">
    <h3>Include a note(optional):</h3>
    <input type="text" name="text" placeholder="note">
    <br>
    <br>
    <input type="submit" value="send invite">
</form>

{% endblock %}