{% extends 'base.html' %}
{% block content %}
<div class="row">
    <div class="col-xs-12 col-md-6 col-lg-5">
        <h3>Invite people to join: </h3>
        <h2>{{ group.group_name }} </h3>

        <img src="/{{ group.group_image}}" width="100%">
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-md-6 col-lg-5 form-group">
        <form action="/send_invite/{{ group.group_id }}" method="POST">
            <div class="row">
               <div class ="col-xs-12 col-sm-12 col-md-6 form-group">
                    <label>Your friend's email:</label>
                    <input type="email" class="form-control" name="email" value="ltaziri@gmail.com" placeholder="email">
                </div>
            </div>
            <div class="row">
               <div class ="col-xs-12 col-sm-12 col-md-6 form-group">
                    <label>Friend's name:</label>
                    <input type="text" class="form-control"  name="name" value="Leilani Taziri" placeholder="name">
                </div>
            </div>
            <label>Include a note(optional):</label>
            <textarea class="form-control" rows=3 name="text" placeholder="Write your friend a note!">This is an awesome group! Would love for you to join!</textarea>
            <br>
            <br>
            <button class="btn btn-default" type="submit">Send Invite</button>
        </form>
    </div>
</div>
{% endblock %}