{% extends 'base.html' %}
{% block content %}

<h2>Sign Up!</h2>

<form enctype ="multipart/form-data" action="/sign_up" method="POST">

    <input type="email" name="email" placeholder="email"><br>
    <br>
    <input type="text" name="password" placeholder="password"><br>
    <br>
    <input type="text" name="first_name" placeholder="first name"><br>
    <br>
    <input type="text" name="last_name" placeholder="last name"><br>
    <br>

    <p>Choose a user photo or upload your own:</p>

    <input type='radio' name="user_photo" value="/static/images/glue_gun.jpg">
    <img src="/static/images/glue_gun.jpg" width="100">

    <input type='radio' name="user_photo" value="/static/images/crafter.jpg">
    <img src="/static/images/crafter.jpg" width="100">

    <input type='radio' name="user_photo" value="/static/images/sewing_machine.jpg">
    <img src="/static/images/sewing_machine.jpg" width="100">

    <input type='radio' name="user_photo" value=" " id="upload_radio">

    <input id="upload_file" type="file" name="photo"><br>

    <br>
    <input type="submit" value="Sign Up">
</form>

<script>


$("#upload_file").click(function(){
    $("#upload_radio").prop("checked", true);
});

</script>

{% endblock %}