{% extends 'base.html' %}
{% block content %}
<a href="/user"> <span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span> Return to your homepage</a>
<div class= "row">
    <div class ="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <h2>{{ user.first_name }} {{ user.last_name }} </h2>
    </div> 
</div>

<div class= "row">
    <div class ="col-xs-12 col-sm-12 col-md-4 col-lg-6">
        {% if user.user_descrip %}
        <h3> About me:</h3><h4 data-linkify="this">{{ user.user_descrip }}</h4>
        {% endif %} 
        <br>    
        <img class="img-responsive img-rounded" src="/{{ user.user_photo }}" width="30%"><br>      
    </div>    
</div>
<a href="/user_profile_form">
<button class="btn btn-default">
  <span class="glyphicon glyphicon-picture" aria-hidden="true"></span> Update your profile
</button>
</a>

<!-- Modal Window for invite form -->
                <div class="modal fade" id="user_profile" tabindex="-1" role="dialog" aria-labelledby="user_label">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">

                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="user_label">{{ user.first_name }} {{ user.last_name }}</h4>
                      </div>

                      <div class="modal-body">
                        <div class= "row">
                            <div class ="col-xs-12 col-sm-12 col-md-4 col-lg-6">
                                {% if user.user_descrip %}
                                <h3> About me:</h3><h4 data-linkify="this">{{ user.user_descrip }}</h4>
                                {% endif %} 
                                <br>    
                                <img class="img-responsive img-rounded" src="/{{ user.user_photo }}" width="30%"><br>      
                            </div>    
                        </div>
                        <a href="/user_profile_form">
                            <button class="btn btn-default">
                              <span class="glyphicon glyphicon-picture" aria-hidden="true"></span> Update your profile
                            </button>
                      </div> <!-- modal-body  -->
                    </div><!--  modal content -->
                  </div> <!-- modal dialog -->
                </div>  <!-- end of modal -->



{% endblock %}