{% extends 'base.html' %}
{% block content %}
<a href="/user"> <span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span> Return to dashboard</a>
<div class= "row">
    <div class ="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <h2>{{ user.first_name }} {{ user.last_name }} </h2>
    </div> 
</div>

<div class= "row">
    <div class ="col-xs-12 col-sm-12 col-md-4 col-lg-6">
        {% if user.user_descrip %}
        <h3> About me:</h3><h4 data-linkify="this">{{ user.user_descrip }}</h4>
        {% endif %} 
        <br>    
        <img class="img-responsive img-rounded" src="/{{ user.user_photo }}"><br>      
    </div>    
</div>
<a href="/user_profile_form">
<button class="btn btn-default">
  <span class="glyphicon glyphicon-picture" aria-hidden="true"></span> Update your profile
</button>
</a>



{% endblock %}