{% extends 'base.html' %}
{% block content %}

<section>
  <h2>Welcome {{ user.first_name }} </h2>
  <a href="/user_profile">Update/View Your profile</a> 
</section>

<hr>

<section>
  <p> Your craft groups:</p>
  <ul>
    {% for group in groups %}
        <li>
            <a href="/group_home/{{ group.group_id }}">
              {{ group.group_name }}
              <!-- <img src="{{ group.group_name }}"> -->
            </a>
        </li>
    {% endfor %}
  </ul>
</section>

<h3> <a href="/group_form">Create a new group</a> </h3>

{% endblock %}