{% extends 'base.html' %}
{% block content %}

<section>
  <h2>Welcome {{ user.first_name }} </h2>
  <a href="/user_profile">Update/View Your profile</a> 
</section>

<hr>

<section>
  <h3> Your craft groups:</h3>
        <div class="row clearfix">
    {% for group in groups %}
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
            <a href="/group_home/{{ group.group_id }}">
            <h3>{{ group.group_name }}</h3>
            <img src="{{ group.group_image }}" width = "250"><br>
            </a>
        </div>
    {% endfor %}
        
        </div>
</section>
<hr>
<a href="/group_form"> <button class="btn btn-default">Create a new group</button></a>

{% endblock %}