{% extends 'base.html' %}
{% block content %}

<h2>{{ user.first_name }} {{ user.last_name }} </h2>

<form action="/user_profile_update/{{ user.user_id }}" method="POST" id="update_user_submit"enctype="multipart/form-data">
    <h3>Update your photo</h3>
    Currently: <br> <img src="/{{ user.user_photo }}" width="200"><br>
    <br>
    <b>Update:</b> 
    <input type="file" name="user_photo" id="update_user_photo">
    <br>
    <h3>Tell us about yourself</h3>
    Currently: <i>{{ user.user_descrip }}</i><br>
    <br>
    <b>Update:</b> 
    <input type="textarea" name="user_descrip" placeholder="description"><br>
    <br>
    <input type="submit" value="Update Your Profile">
</form>

<script>

$('#update_user_submit').on('submit', function(evt){
    var validateUserPhoto= $('#update_user_photo').val().length;
    if(validateUserPhoto < 1) {
        $('input#update_user_photo').remove();
    }
});

</script>
{% endblock %}